<div class="grid-2">
    <div style="display: block;">
    <section class="main-2">
      <h4>Education</h4>
      <ul class="edu-list">
        <li>
            PhD in Electrical and Computer Engineering
            <span class="list-des">
                <a href="https://umdearborn.edu/" target="_blank">University of Michigan</a>, Dearborn, MI (Expected: 2025)
            </span>
            
        </li>
        <li>
            Master of Sciences in Electrical Engineering
            <span class="list-des">
                <a href="https://lums.edu.pk/" target="_blank">Lahore University of Management Sciences</a>, Lahore, Pakistan (2019)
            </span>
        </li>
        <li>
            Bsc in Mechatronics and Control Engineering
            <span class="list-des">
                <a href="https://uet.edu.pk/" target="_blank">University of Engineering and Technology</a>, Lahore, Pakistan (2016)
            </span>
        </li>
      </ul>
    </section>
</div>
<div>
    <section class="side-2">
      <h4>Experience</h4>
      <ul class="exp-list">
        <li>
            Graduate Student Researcher
            <span class="list-des">
                <a href="https://umdearborn.edu/" target="_blank">University of Michigan</a>, Dearborn, MI (2021-Present)
            </span>
            
        </li>
        <li>
            AI Engineer
            <span class="list-des">
                <a href="https://innowi.com/" target="_blank">Innowi</a>, Lahore, Pakistan (2019-2020)
            </span>
        </li>
        <li>
            AI Intern
            <span class="list-des">
                Japan Internship Program <a href="https://aibod.com/" target="_blank">AIBOD</a>, Fukuoka, Japan (2019)
            </span>
        </li>
      </ul>
    </section>
</div>
  </div>