<div class="grid-2">
    <section class="main-2">
      <h4>Education</h4>
      <ul class="edu-list">
        <li>
            <a href="#">PhD in Electrical and Computer Engineering</a>
        </li>
        <li>
            <a href="#">Master of Sciences in Electrical Engineering</a>
        </li>
        <li>
            <a href="#">Bsc in Mechatronics and Control Engineering</a>
        </li>
      </ul>
    </section>
    <section class="side-2">
      <h4>Experience</h4>
      <p>
        The Little Prince (French: Le Petit Prince), first published in 1943, is a novella and the most famous work of the French aristocrat, writer, poet and pioneering aviator Antoine de Saint-Exupéry (1900–1944).
      </p>
    </section>
  </div>