<div class="grid">
    <section class="main">
      <h4>Education</4>
      <p>
      And he went back to meet the fox.
  "Goodbye," he said.
  "Goodbye," said the fox. "And now here is my secret, a very simple secret: It is only with the heart that one
  can see rightly; what is essential is invisible to the eye."
  "What is essential is invisible to the eye," the little prince repeated, so that he would be sure to remember.
  "It is the time you have wasted for your rose that makes your rose so important."
  "It is the time I have wasted for my rose--" said the little prince, so that he would be sure to remember.
  "Men have forgotten this truth," said the fox. "But you must not forget it. You become responsible, forever,
  for what you have tamed. You are responsible for your rose . . ."
  "I am responsible for my rose," the little prince repeated, so that he would be sure to remember.
      </p>
    </section>
    <section class="side">
      <h4>Experience</h4>
      <p>
        The Little Prince (French: Le Petit Prince), first published in 1943, is a novella and the most famous work of the French aristocrat, writer, poet and pioneering aviator Antoine de Saint-Exupéry (1900–1944).
      </p>
    </section>
  </div>